body{
    background-color: rgb(2, 80, 80);
}

h1{
    color: white;
}

label{  
    color: white;
}

p{
    color: white;
}

#btn {
  background-color: #022202; 
  color: white;
  border: none;
  padding: 4px 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#btn:hover {
  background-color: #437505; 
  color: rgb(255, 255, 255);
 
  cursor: pointer;
}